Repository colevoss/terraform-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: feature, ops, infra

fix merge branch
  .github/workflows/merge-main.yaml
Labels: ops

test terraform steps
  .github/workflows/merge-main.yaml
Labels: ops

checkout code in build
  .github/workflows/merge-main.yaml
Labels: ops

remove google creds
  infra/main.tf
Labels: infra

continue on error
  .github/workflows/merge-main.yaml
Labels: ops

set GOOGLE_CREDENEITALS
  .github/workflows/merge-main.yaml
Labels: ops

trying better tf plan
  .github/workflows/merge-main.yaml
Labels: ops

set tf_log
  .github/workflows/merge-main.yaml
Labels: ops

provide variables to plan
  .github/workflows/merge-main.yaml
  infra/main.tf
  infra/providers.tf
  infra/variables.tf
Labels: ops, infra

dont use google credentials variable
  .github/workflows/merge-main.yaml
Labels: ops

add service to infra
  .github/workflows/merge-main.yaml
  infra/service.tf
  infra/variables.tf
Labels: ops, infra

deploy job
  .github/workflows/merge-main.yaml
Labels: ops

actually deploy service
  .github/workflows/merge-main.yaml
Labels: ops

fix deploy script
  .github/workflows/merge-main.yaml
Labels: ops

idk maybe fix auth
  infra/service.tf
Labels: infra

infra change
  infra/service.tf
Labels: infra

service change
  src/index.ts
Labels: feature

connect to redis
  docker-compose.yaml
  infra/service.tf
  package-lock.json
  package.json
  src/index.ts
  src/redis.ts
Labels: feature, infra

do database things
  Dockerfile
  docker-compose.yaml
  docker-entrypoint.sh
  infra/service.tf
  package-lock.json
  package.json
  prisma/migrations/20211203213922_init/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  scripts/dev-migration.sh
  src/app.ts
  src/database.ts
  src/index.ts
  src/redis.ts
  src/users.ts
Labels: feature, infra

fix docker container
  Dockerfile
  docker-compose.yaml
Labels: none

clean up up to plan
  .github/workflows/merge-main.yaml
  .gitignore
  Makefile
  infra/deployment.tfvars
  infra/variables.tf
Labels: ops, infra

clean up files
  .github/workflows/merge-main.yaml
  .gitignore
  Makefile
Labels: ops

fix init make command
  Makefile
Labels: none

lots of stuff
  .github/workflows/merge-main.yaml
  Makefile
  infra/.terraform.lock.hcl
  infra/config/production/config.tfvars
  infra/config/staging/config.tfvars
  infra/database.tf
  infra/deployment.tfvars
  infra/deployment.tfvars.template
  infra/main.tf
  infra/providers.tf
  infra/service.tf
  infra/variables.tf
Labels: ops, infra

add pubsub stuff
  infra/pubsub.tf
  package-lock.json
  package.json
  pubsub.json
  src/app.ts
  src/index.ts
Labels: feature, infra

display visit count
  src/index.ts
Labels: feature

increase min instances
  infra/config/staging/config.tfvars
Labels: infra

min to 0
  infra/config/staging/config.tfvars
  infra/pubsub.tf
  src/index.ts
Labels: feature, infra

idk random changes
  Makefile
  infra/config/staging/gcs.tfbackend
  infra/main.tf
  infra/pubsub.tf
Labels: infra

try creating deployment
  .github/_workflows/merge-main.yaml
  .github/workflows/merge-main-create-deployment.yaml
Labels: ops

Trigger merge main
  src/index.ts
Labels: feature

auto merge false
  .github/workflows/merge-main-create-deployment.yaml
Labels: ops

try github script
  .github/workflows/merge-main-create-deployment.yaml
Labels: ops

empty contexts
  .github/workflows/merge-main-create-deployment.yaml
Labels: ops

use staging
  .github/workflows/merge-main-create-deployment.yaml
Labels: ops

payload and description
  .github/workflows/merge-main-create-deployment.yaml
Labels: ops

create tags on merge main
  .github/_workflows/merge-main-create-deployment.yaml
  .github/workflows/merge-main-create-tag.yaml
  README.md
Labels: ops

fix tag command
  .github/workflows/merge-main-create-tag.yaml
Labels: ops

only use date not time
  .github/workflows/merge-main-create-tag.yaml
Labels: ops

better tag messages
  .github/workflows/merge-main-create-tag.yaml
Labels: ops

.github/labeler.yaml:

feature: 'src/**/*.ts'
ops: '.github/**/*'
infra: 'infra/**/*'
