Repository colevoss/terraform-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: feature, ops, infra

more better release message
  .github/workflows/merge-main-create-tag.yaml
Labels: ops

create and finish deployment
  .github/_workflows/merge-main-create-deployment.yaml
  .github/workflows/merge-main-create-tag.yaml
  .github/workflows/tag-created.yaml
Labels: ops

fix tag created
  .github/_workflows/merge-main-create-deployment.yaml
  .github/workflows/tag-created.yaml
Labels: ops

force change
  .github/workflows/tag-created.yaml
  src/index.ts
Labels: feature, ops

tag and create deployment in one action
  .github/_workflows/tag-created.yaml
  .github/workflows/merge-main-create-tag.yaml
Labels: ops

fix create deployment syntax
  .github/workflows/merge-main-create-tag.yaml
Labels: ops

fix ref with string
  .github/workflows/merge-main-create-tag.yaml
Labels: ops

checkout before create deployment
  .github/workflows/merge-main-create-tag.yaml
Labels: ops

tags not tag
  .github/workflows/merge-main-create-tag.yaml
Labels: ops

fix syntax
  .github/workflows/merge-main-create-tag.yaml
Labels: ops

debug
  .github/workflows/merge-main-create-tag.yaml
Labels: ops

deployment.data
  .github/workflows/merge-main-create-tag.yaml
Labels: ops

gaa
  .github/workflows/merge-main-create-tag.yaml
Labels: ops

return id
  .github/workflows/merge-main-create-tag.yaml
Labels: ops

dont be string
  .github/workflows/merge-main-create-tag.yaml
Labels: ops

fuck me im stupid
  .github/workflows/merge-main-create-tag.yaml
Labels: ops

env url in deployment
  .github/workflows/merge-main-create-tag.yaml
Labels: ops

what is context
  .github/workflows/merge-main-create-tag.yaml
Labels: ops

use log url
  .github/workflows/merge-main-create-tag.yaml
Labels: ops

try in progress
  .github/workflows/merge-main-create-tag.yaml
Labels: ops

whoops
  .github/workflows/merge-main-create-tag.yaml
Labels: ops

neeeeedds
  .github/workflows/merge-main-create-tag.yaml
Labels: ops

trying a clean PR run
  .github/workflows/merge-main-create-tag.yaml
Labels: ops

trying a clean PR run (#18)
  .github/workflows/merge-main-create-tag.yaml
Labels: ops

rename workflow
  .github/workflows/merge-main-create-tag.yaml
Labels: ops

rename workflow (#22)
  .github/workflows/merge-main-create-tag.yaml
Labels: ops

better tf variables
  Makefile
  infra/cache.tf
  infra/config/env.tfvars.template
  infra/config/input.tfvars
  infra/database.tf
  infra/pubsub.tf
  infra/service.tf
  infra/variables.tf
Labels: infra

.github/labeler.yaml:

feature: 'src/**/*.ts'
ops: '.github/**/*'
infra: 'infra/**/*'
